title: "Computational Economic Notes"
email: "zedtaha@gmail.com"
description: "An open-access journal for computational economics research"
baseurl: "/Computational-Economic-Notes"
url: "https://compeconote.github.io"

theme: minima
markdown: kramdown
permalink: pretty

plugins:
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
